* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f2f2f2;
  margin: 0 10px;
}

.audio-player {
  background: #c1b6bc;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: auto;
  background-color: #fff;
  text-align: center;
  gap: 20px;
}

.upload-container input[type='file'] {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.upload-audio {
  border: 2px dashed #aaa;
  width: 100%;
}

.upload-transcript {
  border: 2px dashed #aaa;
  width: 100%;
}

.upload-container label {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 100px;
  color: #666;
}

.upload-container .btn {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  border: none;
  border-radius: 2px;
  background-color: #16a085;
  color: #fff;
  cursor: pointer;
}

/* audio info */
.audio-info {
  display: flex;
  gap: 20px;
}

.text {
  color: #f50;
}

.title {
  color: #f85252;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 0;
  padding: 2px;
  line-height: 37px;
}

/* audio image */
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.audio-image {
  width: 200px;
  height: 200px;
  background: #1e1e1e;
}

.audio-icon {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #989898;
}

.audio-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* controls */
.controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.controls button,
.volume button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

button svg {
  font-size: 20px;
}

.volume {
  display: flex;
  align-items: center;
}

.volume button {
  margin: 0;
}

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* time */
.time {
  color: #333;
  font-size: 13px;
  line-height: 46px;
}

.time.current {
  color: #f50;
}

/* Top bar */
.top__bar {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f2;
}

.top__bar a {
  color: inherit;
}

.top__bar p {
  margin: 0;
}

.transcript {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  line-height: 1.5;
  font-family: 'Inter', 'Lato', 'Sofia sans', 'Roboto', sans-serif;
  font-size: 1rem;
}

.line:hover {
  background-color: rgba(255, 182, 193, 0.7);
  cursor: pointer;
}

.line.active {
  background-color: rgba(255, 242, 182, 1);
}
